<center>
  <h1>Final Project 1</h1>
  <iframe
    allowfullscreen
    frameborder="0"
    width="1280"
    height="720"
    src="https://www.vidcode.com/share/renderer/vz0X0uD7l6"
  ></iframe>
</center>
<center>
  <h1>Final Project 2</h1>
  <iframe
    allowfullscreen
    frameborder="0"
    width="1280"
    height="720"
    src="https://www.vidcode.com/share/renderer/0ny8ddLJi7"
  ></iframe>
</center>
<center>
  <h1>Final Project 3</h1>
  <iframe
    allowfullscreen
    frameborder="0"
    width="1280"
    height="720"
    src="https://www.vidcode.com/share/renderer/SoPRaB9cnH"
  ></iframe>
</center>
<center>
  <h1>Final Project 4</h1>
  <iframe
    allowfullscreen
    frameborder="0"
    width="1280"
    height="720"
    src="https://www.vidcode.com/share/renderer/udTVONTH0N"
  ></iframe>
</center>
<center>
  <h1>Final Project 5</h1>
  <iframe
    allowfullscreen
    frameborder="0"
    width="1280"
    height="720"
    src="https://www.vidcode.com/share/renderer/C3G20t3W0C"
  ></iframe>
</center>
<center>
  <h1>Final Project 6</h1>
  <iframe
    allowfullscreen
    frameborder="0"
    width="1280"
    height="720"
    src="https://www.vidcode.com/share/renderer/DVjRA7SWzO"
  ></iframe>
</center>
