<!DOCTYPE html>
<html lang="en">
  <head>
    <title>External JS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="/website6.css">
    
    <script src="/script.js" defer></script>
  </head>  
<body>

<h2>External JavaScript</h2>

<p id="demo">This sentence will be changed when the button is clicked.</p>

<button type="button" onclick="myFunction()">Try it</button>

<p>(myFunction is stored in an external file called "myScript.js")</p>

<script src="website6.js"></script>

</body>
</html>
