<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="website1.css"/>
 <center>
  <title>Clayton's Biography</title>
  </center>
</head>
<body>
  
  <h2>Clayton's Biography</h2>
 
<p>   
  This is my 2nd year at Jean Vanier, and I am 15 and in the 10th grade. I live in 
  
 <a href="https://www.google.com/maps/place/Wasaga+Beach,+ON/@44.51165,-80.1240595,12z/data=!3m1!4b1!4m5!3m4!1s0x882a80578282bf25:0x56e3cb1910ac4639!8m2!3d44.5207419!4d-80.0160668"><i>Wasaga Beach</i></a>  with my mom and step dad. I have a cat named Marvin and a boxer named Mia. I also have a 1 and a half year old brother. I have lived in the beach for around 7-8 years. My favorite subjects in school are:
  
  <ul>
    <li>Math</li>
    <li>Programming</li>
    <li>Science</li>
  </ul>
  
<p>
I don’t have any past experience in computer programming. I chose this elective because when I graduate, I want to have a job either being a computer engineer, computer programmer, or an electrician. In my spare time I either play some video games with my friends or I’m doing research on computer hardware or software. I am currently saving up my money to build a computer of my own. Building computers is something I would want to pursue as a hobby or even a job. If I am successful in programming, something else I would want to have as a job is to be a game developer.</p>
  
  <a href="https://docs.google.com/document/d/1glJCzQ5H-K_wMeRMy8XrHzGowQ7gjCidVuFmX6hLRRY/edit"><b><i>My biography on a Google doc</i></b></a>
  
  </p>
  </body>
</html>
