h2 {
  color: limegreen;
    
}
body {
  background-color: black;
}
p {
  color:white;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: limegreen;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
ul {
  color:white;
  
}
center {
  text-align: center;
  border: 2px solid green;
}
